<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://vertex-biometric-receiver-e5dfbrfhddg4dcb0.indiasouthcentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/4538d00d-2cab-41e9-aa0d-9177dec3fbc5/resourceGroups/VertexERP-RG/providers/Microsoft.Web/sites/vertex-biometric-receiver</ResourceId>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>vertex-biometric-receiver-e5dfbrfhddg4dcb0.scm.indiasouthcentral-01.azurewebsites.net:443</MSDeployServiceURL>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <DeployIisAppPath>vertex-biometric-receiver</DeployIisAppPath>
    <WebJobType>Triggered</WebJobType>
    <WebJobName>BiometricReceiver</WebJobName>
  </PropertyGroup>
</Project>